$accordion-header-height: 3rem;
$accordion-chevron-size: .5rem;
$accordion-border: 1px solid $gray;
$accordion-status-width: 4px;
$accordion-status-height: 2.7rem;

.s-accordion {
}

.s-accordion-item {
  border-top: $accordion-border;
  flex: 1;
}

.s-accordion-item__wrapper {
  display: flex;

  &:last-child {
    .s-accordion-item {
      border-bottom: $accordion-border;
    }
  }
}

.s-accordion-item__status-wrapper {
  display: flex;
  align-items: center;
  padding-right: 1.75rem;
  height: $accordion-header-height;
}

.s-accordion-item__status {
  height: $accordion-status-height;
  border-left: $accordion-status-width solid transparent;
  transition: border-color $duration-normal;

  &--open {
    border-left: $accordion-status-width solid $smartdok-yellow;
  }

  &--invalid {
    border-left: $accordion-status-width solid $color-bad;
  }
}

.s-accordion-item__heading {
  @include action-font;
  color: $almost-black;

  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: $accordion-header-height;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  transition: color $duration-normal;

  &:hover {
    // XXX Design system says, "Text opacity: 80%", but this looks a bit weird
    opacity: .8;
  }

}

.s-accordion-item__title {
  flex: 1;
  transition: font-size $duration-normal;

  &--open {
    // XXX - We only have 400 and 600 available?
    // font-weight: 800;
  }

  &--invalid {
    color: $color-bad;
  }
}

.s-accordion-item__chevron {
  margin-right: $accordion-chevron-size;
  display: inline-flex;
  flex-direction: column;

  transition: transform $duration-normal;

  &--rotate {
    transform: rotate(180deg);
  }
}

.s-accordion-item__body {
  position: relative;
  overflow: hidden;

  transition: all $duration-normal;
  transition-property: height, opacity;
}

.s-accordion-item__content {
  padding-top: .5rem;
  padding-bottom: 1.5rem;
}
