$accordion-header-height: 3rem;
$accordion-chevron-size: .5rem;

.ui-accordion {
  max-width: 400px;
  // border: 1px solid $gray;
}

.ui-accordion__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: $accordion-header-height;
  outline: none;
  border-top: 1px solid $gray;
  text-decoration: none;
  color: inherit;
}

.ui-accordion__chevron {
  margin-right: $accordion-chevron-size;

  transform-origin: 50% 45%;
  transition: transform $duration-normal;

  &--open {
    transform: rotate(180deg);
  }
}

.ui-accordion__body {
  position: relative;
  overflow: hidden;

  transition: all $duration-normal;
  transition-property: height, opacity;
}

.ui-accordion__content {
  position: absolute;
  padding-top: .5rem;
  padding-bottom: 1.5rem;
}
