$accordion-header-height: 3rem;
$accordion-chevron-size: .5rem;
$accordion-border: 1px solid $gray;

.s-accordion {
}

.s-accordion-item {
  border-top: $accordion-border;

  &:last-child {
    border-bottom: $accordion-border;
  }
}

.s-accordion-item__heading {
  @include action-font;
  color: $almost-black;

  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: $accordion-header-height;
  outline: none;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    // XXX Design system says, "Text opacity: 80%", but this looks a bit weird
    opacity: .8;
  }
}

.s-accordion-item__chevron {
  margin-right: $accordion-chevron-size;
  display: inline-flex;
  flex-direction: column;

  transition: transform $duration-normal;

  &--rotate {
    transform: rotate(180deg);
  }
}

.s-accordion-item__body {
  position: relative;
  overflow: hidden;

  transition: all $duration-normal;
  transition-property: height, opacity;
}

.s-accordion-item__content {
  padding-top: .5rem;
  padding-bottom: 1.5rem;
}
