$accordion-header-height: 3rem;
$accordion-chevron-size: .5rem;

.ui-accordion {
  width: 400px;
  // border: 1px solid $gray;
}

.ui-accordion__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: $accordion-header-height;
  outline: none;
  border-top: 1px solid $gray;
  text-decoration: none;
  color: inherit;
}

.ui-accordion__chevron {
  margin-right: $accordion-chevron-size;

  border: 0;
  border-left: $accordion-chevron-size / 2 solid transparent;
  border-right: $accordion-chevron-size / 2 solid transparent;
  border-bottom: $accordion-chevron-size solid $almost-black;

  transition: transform $duration-normal;

  &--open {
    transform: rotate(180deg);
  }
}

.ui-accordion__body {
  position: relative;
  overflow: hidden;

  transition: height $duration-normal;
}

.ui-accordion__content {
  position: absolute;
}
