@import '../tools.scss';

$alert-height: base-spacing(6);
$alert-padding: base-spacing(2);
$alert-border-width: base-spacing(1);

.s-alert {
  @include paragraph-font;

  display: flex;
  white-space: nowrap;

  height: $alert-height;
  line-height: $alert-height;
  background-color: $white;
  padding: 0 $alert-padding;

  // XXX Not sure if components should enforce surrounding layout
  margin-bottom: 1rem;

  border: 0;
  border-left: $alert-border-width solid $color-edit;

  &--success {
    border-color: $color-good;
  }

  &--warning {
    border-color: $color-oops;
  }

  &--error {
    border-color: $color-bad;
  }

  .s-icon {
    display: inline-block;
    font-size: 1.2rem;
    height: $alert-height;
    line-height: $alert-height;

    // Alt. 1: Left-aligned
    width: $alert-height - $alert-padding;
    text-align: left;

    // Alt. 2: Center icon inside square
    // width: $alert-height;
    // text-align: center;
    // margin-left: -$alert-padding;
  }
}

.s-alert__main {
  flex: 1;
}

.s-alert__buttons {

  .s-btn {
    margin-left: .5rem;
  }
}
