@import '../tools.scss';

$alert-height: base-spacing(6);
$alert-padding: base-spacing(2);
$alert-status-width: base-spacing(1);
$alert-border-radius: 2px;

.s-alert {
  @include paragraph-font;

  display: flex;

  height: $alert-height;
  line-height: $alert-height;

  // XXX Not sure if components should enforce surrounding layout
  margin-bottom: 1rem;

  &--success, &--warning, &--error {
    .s-alert__content {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .s-icon {
    display: inline-block;
    font-size: 1.2rem;
    height: $alert-height;
    line-height: $alert-height;

    // Alt. 1: Left-aligned
    width: $alert-height - $alert-padding;
    text-align: left;

    // Alt. 2: Center icon inside square
    // width: $alert-height;
    // text-align: center;
    // margin-left: -$alert-padding;
  }
}

.s-alert__status {
  &--success, &--warning, &--error {
    display: block;
    min-width: $alert-status-width;
    height: $alert-height;
    border: 1px solid rgba(0, 0, 0, .05);
    border-top-left-radius: $alert-border-radius;
    border-bottom-left-radius: $alert-border-radius;
  }

  &--success {
      background-color: $color-good;
  }

  &--warning {
      background-color: $color-oops;
  }

  &--error {
      background-color: $color-bad;
  }
}

.s-alert__content {
  display: flex;
  flex: 1;
  white-space: nowrap;

  padding: 0 $alert-padding;
  border: 1px solid $almost-gray;
  border-radius: $alert-border-radius;
  background-color: $white;
}

.s-alert__main {
  flex: 1;
}

.s-alert__buttons {
  .s-button {
    margin-left: .5rem;
  }
}
