$btn-normal-height: base-spacing(5);
$btn-normal-padding: base-spacing(2);
$btn-normal-min-width: base-spacing(10);
$btn-small-height: base-spacing(3);
$btn-small-padding: base-spacing(2);
$btn-small-min-width: base-spacing(5);

$btn-primary-bg-color: $smartdok-yellow;
$btn-primary-fg-color: $almost-black;
$btn-normal-bg-color: rgba(0, 0, 0, 0.02);
$btn-normal-fg-color: $almost-black;
$btn-normal-border-color: $gray;
$btn-danger-bg-color: $btn-normal-bg-color;
$btn-danger-fg-color: $color-bad;
$btn-danger-border-color: $color-bad;
$btn-active-color: rgba(0, 0, 0, .1);

// Implements keyboard-only focus styling,
// https://stackoverflow.com/a/45191208/137627

@mixin btn-overlay() {
  .s-button__content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @content;
  }
};

.s-button {
  background: none;
  border: none;
  outline: none;
  font-size: inherit;
  padding: 0;
  position: relative;

  height: $btn-normal-height;

  border: 1px solid;
  min-width: $btn-normal-min-width;

  &--small {
    height: $btn-small-height;
    min-width: $btn-small-min-width;

    > .s-button__content {
      padding: 0 $btn-small-padding;
    }
  }

  &:not(.s-button--inactive):hover {
    @include btn-overlay {
      background-color: rgba(255, 255, 255, .1);
    }
  }

  &:not(.s-button--inactive):active {
    @include btn-overlay {
      background-color: $btn-active-color;
    }
  }

  &--normal {
    background-color: $btn-normal-bg-color;
    color: $btn-normal-fg-color;
    border-color: $btn-normal-border-color;
  }

  &--primary {
    background-color: $btn-primary-bg-color;
    color: $btn-primary-fg-color;
    border-color: $btn-primary-bg-color;
  }

  &--danger {
    background-color: $btn-danger-bg-color;
    color: $btn-danger-fg-color;
    border-color: $btn-danger-border-color;
  }

  &--inactive {
    background-color: $gray;
    color: $grayer;
    border-color: $gray;
  }

  &--round {
    background-color: $white;
    color: $btn-normal-fg-color;
    border-color: $btn-normal-border-color;
  }

  // Roundness

  border-radius: ($btn-normal-height / 2);
  .s-button__content:after {
    border-radius: ($btn-normal-height / 2);
  }

  &--square {
    border-radius: 2px;

    .s-button__content:after {
      border-radius: 2px;
    }
  }
}

.s-button--round,
.s-button--square {
  min-width: $btn-normal-height;
  width: $btn-normal-height;

  &.s-button--small {
    min-width: $btn-small-height;
    width: $btn-small-height;
  }

  .s-button__content {
    padding: 0;
  }
}

.s-button__content {
  @include action-font;

  // @include btn-overlay;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  height: 100%;
  width: 100%;
  padding: 0 $btn-normal-padding;
  outline: none;
  user-select: none;
  cursor: default;
}

.s-button:focus {
  border-color: $color-edit;
}

.s-tool-menu-button {
  &--active {
    background-color: $btn-active-color;
  }
}