$btn-normal-height: base-spacing(5);
$btn-normal-padding: base-spacing(2);
$btn-normal-min-width: base-spacing(10);
$btn-small-height: base-spacing(3);
$btn-small-padding: base-spacing(2);
$btn-small-min-width: base-spacing(5);

$btn-main-bg-color: $smartdok-yellow;
$btn-main-fg-color: $almost-black;
$btn-secondary-bg-color: rgba(0, 0, 0, 0.02);
$btn-secondary-fg-color: $almost-black;
$btn-secondary-border-color: $gray;

// Implements keyboard-only focus styling,
// https://stackoverflow.com/a/45191208/137627

.s-btn {
  background: none;
  border: none;
  outline: none;
  font-size: inherit;
  padding: 0;

  height: $btn-normal-height;
  border-radius: ($btn-normal-height / 2);
  min-width: $btn-normal-min-width;

  &--small {
    height: $btn-small-height;
    min-width: $btn-small-min-width;

    > .s-btn__content {
      padding: 0 $btn-small-padding;
    }
  }
}

.s-btn__content {
  @include action-font;

  height: 100%;
  width: 100%;
  padding: 0 $btn-normal-padding;
  border-radius: ($btn-normal-height / 2);
  outline: none;
  user-select: none;
  cursor: default;

  &--main {
    border: none;
    background-color: $btn-main-bg-color;
    color: $btn-main-fg-color;

    &:not(.s-btn__content--inactive):hover {
      // XXX This is supposed to be a semi-transparent overlay
      // background-color: lighten($btn-main-bg-color, 10%);
      background-color: mix(#fff, $btn-main-bg-color, 30%);
    }

    &:not(.s-btn__content--inactive):active {
      background-color: mix(#000, $btn-main-bg-color, 10%);
    }
  }

  &--secondary {
    // border: 1px solid
    border: none;
    box-shadow: inset 0 0 0 1px $btn-secondary-border-color;
    background-color: $btn-secondary-bg-color;
    color: $btn-secondary-fg-color;

    &:not(.s-btn__content--inactive):hover {
      // lighten($btn-secondary-bg-color, 10%);
      background-color: mix(#fff, $btn-secondary-bg-color, 30%);
    }

    &:not(.s-btn__content--inactive):active {
      background-color: mix(#000, $btn-secondary-bg-color, 10%);
    }
  }

  &--inactive {
    border: none;

    background-color: $gray;
    color: $grayer;
  }
}

.s-btn:focus > .s-btn__content {
  box-shadow: inset 0 0 0 0.125em $color-edit;
}
