%ui-btn {
  @include font-action;

  padding: 0 16px;

  height: $btn-height;
  border-radius: ($btn-height / 2);

  &:focus {
    box-shadow: inset 0 0 0 0.125em $color-edit;
  }
}

.ui-btn--main {
  @extend %ui-btn;

  border: none;
  background-color: $btn-main-bg-color;
  color: $btn-main-fg-color;

  &:hover {
    background-color: lighten($btn-main-bg-color, 10%);
  }

  &:active {
    background-color: darken($btn-main-bg-color, 10%);
  }
}

.ui-btn--secondary {
  @extend %ui-btn;

  // border: 1px solid
  border: none;
  box-shadow: inset 0 0 0 1px $btn-secondary-border-color;
  background-color: $btn-secondary-bg-color;
  color: $btn-secondary-fg-color;

  &:hover {
    background-color: lighten($btn-secondary-bg-color, 10%);
  }

  &:active {
    background-color: darken($btn-secondary-bg-color, 10%);
  }
}

.ui-btn--inactive {
  @extend %ui-btn;
  border: none;

  background-color: $gray;
  color: $grayer;
}

// XXX Not in the design system
.ui-btn--small {
  height: 2.0em;
}
