$checkbox-height: 1rem;
$checkbox-border-radius: 3px;
$checkbox-spacing: .375rem;

.ui-checkbox {
  @include paragraph-font;

  display: inline-flex;
  height: $checkbox-height;
  line-height: $checkbox-height;

  &--focus,
  &:hover:not(.ui-checkbox--inactive) {
    .ui-checkbox__box {
      border-color: $color-edit;
    }
  }

  &--inactive {
    .ui-checkbox__box {
      background-color: $almost-gray;
    }
  }
}

.ui-checkbox__box {
  position: relative;
  display: inline-flex;

  border: 1px solid $gray;
  background-color: $white;
  height: $checkbox-height;
  width: $checkbox-height;
  border-radius: $checkbox-border-radius;
  margin-right: $checkbox-spacing;

  > span {
    user-select: none;
    position: absolute;
    width: calc(1rem - 2px);
    text-align: center;
  }

  // Hides the native checkbox, so that we can provide our own styled
  // version. We're using opacity rather than other methods for making
  // it invisible, because we want it to behave as if it's visible (e.g.
  // accept tab focus).
  > input {
    opacity: 0;
  }
}