$datepicker-height: 29rem;
$datepicker-width: 29rem;
$datepicker-chevron-size: .5rem;
$datepicker-border: 1px solid $gray;

.s-datepicker {
    position: relative;
    width: $datepicker-height;
    height: $datepicker-width;
    border: $datepicker-border;
    overflow: hidden;
}

.s-datepicker__header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    background: white;
}

.s-datepicker__navigation {
    flex-direction: row;
}

.s-datepicker__scrollcontainer::-webkit-scrollbar { 
    display: none; 
}
.s-datepicker__scrollcontainer {
    overflow-y: scroll;
    position: relative;
    height: 100%;
    padding-top: 64px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.s-datepicker__grid {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    padding-left: 3rem;
}

.s-datepicker__days {
    position: sticky;
    top: 0;
    background: white;
    width: 100%;
}

.s-datepicker__weeks {
    position: absolute;
    left: 6px;
    z-index: -1;
    margin: 0;
    padding: 0;
    color: darkgoldenrod
}

.s-datepicker__date, .s-datepicker__day, .s-datepicker__weeks__week {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-datepicker__date--current span {
    color: darkcyan;
}