@import '../settings.scss';

$datepicker-height: 29rem;
$datepicker-width: 18rem;
$datepicker-menu-width: 14rem;
$datepicker-chevron-size: 0.5rem;
$datepicker-border: 1px solid $gray;

.s-datepicker {
  display: flex;
  flex-direction: row;
  position: relative;
  width: $datepicker-width + $datepicker-menu-width;
  height: $datepicker-height;
  border: $datepicker-border;
  //overflow: hidden;
  background: #fff;
}

.s-datepicker__calendar {
  width: $datepicker-width;
}

.s-datepicker__header {
  position: sticky;
  width: $datepicker-width;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.s-datepicker__navigation {
  flex-direction: row;
}

.s-datepicker__navigation h4 {
  text-transform: uppercase;
}

.s-datepicker__navigation h4,
.s-datepicker__navigation i {
  padding: 0.5rem 0;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.s-datepicker__menu {
  background: #fafafa;
  width: $datepicker-menu-width;
  padding: 0 1rem;
}

/* .s-datepicker__virtuallist::-webkit-scrollbar {
  display: none;
} */

.s-datepicker__grid__container {
  position: relative;
}

.s-datepicker__grid {
  position: relative;
  padding: 2rem 0 0 2.5rem;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(7, 0fr);
  list-style: none;
}

.s-datepicker__month {
  position: absolute;
  top: 0.5rem;
  left: 0;
  margin: 0;
  padding-left: 1rem;
  width: 100%;
  z-index: 0;
}

.s-datepicker__days {
  display: grid;
  grid-template-columns: repeat(7, 0fr);
  list-style: none;
  padding-left: 2.5rem;
  margin: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #fafafa;
}

.s-datepicker__weeks {
  position: absolute;
  left: 6px;
  top: 2rem;
  z-index: 0;
  margin: 0;
  padding: 0;
  color: darkgoldenrod;
  display: flex;
  flex-direction: column;
}

.s-datepicker__date,
.s-datepicker__day,
.s-datepicker__weeks__week,
.s-datepicker__date--overlapping,
.s-datepicker__date .circle {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-datepicker__date {
  cursor: pointer;
  background: transparent;
}

.s-datepicker__date:hover {
  border-radius: 50%;
  background: $smartdok-eggs-yellow;
}

.s-datepicker__date.today {
  position: relative;
}

.s-datepicker__date.today:after {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 55%;
  height: 2px;
  background: $grayer;
}

.s-datepicker__date.from {
  background: linear-gradient(to right, #fff 50%, $smartdok-eggs-yellow 50%);
}

.s-datepicker__date.to {
  background: linear-gradient(to left, #fff 50%, $smartdok-eggs-yellow 50%);
}

.s-datepicker__date .circle {
  position: relative;
  background: $smartdok-yellow;
  border-radius: 50%;
}

.s-datepicker__date.between {
  background: $smartdok-eggs-yellow;
}

.s-datepicker__date--inRange:last-child {
  border-radius: 50%;
}

.s-datepicker__date--overlapping {
  color: grey;
}

.s-datepicker__date--current span {
  color: darkcyan;
}
