@import '../tools.scss';

.s-drop-down__caret {
  display: inline-flex;
  transition: transform $duration-normal;

  &--open {
    transform: rotate(180deg);
  }
}

.s-drop-down__input {
  width: 100%;
}