@import '../tools.scss';
@import './list.scss';

.s-filter-drop-down__pills {
  display: inline-flex;
  overflow: hidden;
  padding: 0 2px;
}

.s-filter-drop-down__pill {
  @include action-font;
  white-space: nowrap;
  vertical-align: center;
  margin: 0 2px;
  padding: 4px 8px 4px 2px;
  background-color: $almost-gray;
  border: 1px solid $gray;
  border-radius: 3px;

  &--search {
    background-color: $white;
  }
}

.s-filter-drop-down__pill-icon {
  cursor: pointer;
}

.s-filter-drop-down__header {
  position: sticky;
  top: 0;
  background-color: $white;
  border-bottom: 1px solid $almost-gray;
}

.s-filter-drop-down__tabs {
  display: flex;
}

.s-filter-drop-down__tabs__tab {
  a {
    @include action-font;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: $almost-black;
  }

  .s-filter-drop-down__tabs__tab__content {
    display: inline-block;
    padding: 0 base-spacing(2);
    margin: base-spacing(1) 0;
  }

  &--active {
    a {
      color: $color-edit;
    }
  }

  &:not(:last-child) .s-filter-drop-down__tabs__tab__content {
    border-right: 1px solid $almost-gray;
  }
}

.s-filter-drop-down__loading {
  height: 2px;
  width: 100%;
}

.s-filter-drop-down__loading-progress {
  height: 2px;
  margin-left: 0;
  margin-right: 0;
  background-color: $color-edit;

  animation: in-progress 1.5s infinite;
}