$input-bg-color: $white;
$input-fg-color: $almost-black;
$input-border-color: $gray;
$input-padding: base-spacing(1);
$input-height: base-spacing(5);
$input-border-width: 1px;
$input-line-height: calc(#{base-spacing(5)} - #{2 * $input-border-width});
$input-font-size: $paragraph-font-size;

.s-input {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: $input-border-width solid $input-border-color;
  border-radius: 4px;  // 4% / 2% gives no visible radius
  background-color: $input-bg-color;
  color: $input-fg-color;
  // min-width: 150px;
  // max-width: 250px;
  // margin-bottom: base-spacing();
  height: $input-height;
  overflow: hidden;
  vertical-align: bottom;

  &--focus,
  &:hover:not(.s-input--inactive) {
    border: $input-border-width solid $color-edit;
    // box-shadow: inset 0 0 0 0.0625 $color-edit;
    // box-shadow: inset 0 0 0 0.125em $color-edit;
  }

  &--inactive {
    background-color: $almost-gray;

    .s-input__label,
    .s-input__input {
      color: $grayer;
    }
  }

  &--error {
    border-color: crimson;
  }

  &--valid {
    border-color: lightgreen;
  }
}

.s-input__label {
  position: absolute;
  color: $grayest;
  padding: 0 $input-padding;
  pointer-events: none;
  font-size: $input-font-size;
  white-space: nowrap;

  line-height: $input-line-height;

  transform-origin: $input-padding 0;
  transition: transform .3s;

  &--aside {
    transform: scale((12 / 14)) translate(0, -$input-padding);

    &:after {
      content: ":";
    }
  }
}

.s-input__input {
  position: relative;
  flex: 1;
  height: 100%;
  min-width: 0;
  font-size: $input-font-size;
  border: none;
  outline: none;
  background-color: transparent;
  color: $almost-black;

  padding: ($input-padding * 2) $input-padding ($input-padding / 2) $input-padding;

  z-index: 1;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}

.s-input__format {
  position: absolute;
  display: block;
  color: $gray;
  white-space: nowrap;
  top: -$input-border-width;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: $input-font-size;
  padding: ($input-padding * 2) $input-padding ($input-padding / 2) $input-padding;

  overflow: hidden;
  text-overflow: ellipsis;
}

.s-input__value {
  color: transparent;
}
