$input-bg-color: $white;
$input-fg-color: $almost-black;
$input-border-color: $gray;
$input-padding: .5rem;
$input-height: 2.5rem;
$input-line-height: calc(2.5rem - 2px);  // subtract border
$input-font-size: .875rem;

.ui-input {
  position: relative;
  display: inline-block;
  border: 1px solid $input-border-color;
  border-radius: 4px;  // 4% / 2% gives no visible radius
  background-color: $input-bg-color;
  color: $input-fg-color;
  // min-width: 150px;
  // max-width: 250px;
  margin-bottom: .25rem;
  height: $input-height;
  overflow: hidden;

  &--focus,
  &:hover:not(.ui-input--inactive) {
    border: 1px solid $color-edit;
    // box-shadow: inset 0 0 0 0.0625 $color-edit;
    // box-shadow: inset 0 0 0 0.125em $color-edit;
  }

  &--inactive {
    background-color: $almost-gray;

    .ui-input__label,
    .ui-input__input {
      color: $grayer;
    }
  }
}

.ui-input__label {
  position: absolute;
  color: $grayest;
  padding: 0 $input-padding;
  pointer-events: none;
  font-size: $input-font-size;
  white-space: nowrap;

  line-height: $input-line-height;

  transform-origin: $input-padding 0;
  transition: transform .3s;

  &--aside {
    transform: scale((12 / 14)) translate(0, -$input-padding);

    &:after {
      content: ":";
    }
  }
}

.ui-input__input {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: $input-font-size;
  border: none;
  outline: none;
  background-color: transparent;
  color: $almost-black;

  padding: ($input-padding * 2) $input-padding ($input-padding / 2) $input-padding;
  z-index: 1;
}

.ui-input__format {
  position: absolute;
  display: block;
  color: $gray;
  top: 0;
  left: 0;
  height: $input-height;
  font-size: $input-font-size;
  padding: ($input-padding * 2) $input-padding ($input-padding / 2) $input-padding;
}
