$input-bg-color: $white;
$input-fg-color: $almost-black;
$input-border-color: $gray;
$input-padding: base-spacing(1);
$input-height: base-spacing(5);
$input-border-width: 1px;
$input-line-height: calc(#{base-spacing(5)} - #{2 * $input-border-width});
$input-font-size: $paragraph-font-size;

.s-input {
  position: relative;
  display: flex;
  align-items: center;
  border: $input-border-width solid $input-border-color;
  border-radius: 4px;  // 4% / 2% gives no visible radius
  background-color: $input-bg-color;
  color: $input-fg-color;
  // min-width: 150px;
  // max-width: 250px;
  margin-bottom: base-spacing();
  height: $input-height;
  overflow: visible;
  vertical-align: bottom;

  &--focus,
  &:hover:not(.s-input--inactive) {
    border: $input-border-width solid $color-edit;
    // box-shadow: inset 0 0 0 0.0625 $color-edit;
    // box-shadow: inset 0 0 0 0.125em $color-edit;
  }

  &--inactive {
    background-color: $almost-gray;

    .s-input__label,
    .s-input__input {
      color: $grayer;
    }
  }

  &--error {
    border-color: $color-bad;
  }
}

.s-input__label {
  position: absolute;
  z-index: 2;
  color: $grayest;
  padding: 0 $input-padding;
  pointer-events: none;
  font-size: $input-font-size;
  white-space: nowrap;

  line-height: $input-line-height;

  transform-origin: $input-padding 0;
  transition: transform .3s;

  &--aside {
    transform: scale((12 / 14)) translate(0, -$input-padding);

    &:after {
      content: ":";
    }
  }
}

.s-input__counter {
  position: absolute;
  color: transparent;
  right: 0;
  top: 0;

  padding: ($input-padding / 6) ($input-padding / 2);
  pointer-events: none;
  font-size: .6rem;
  white-space: nowrap;
  transition: color $duration-normal;

  &--show {
    color: $gray;
  }

  &--stop {
    color: $color-bad;
  }
}

.s-input__input {
  position: relative;
  flex: 1;
  height: 100%;
  min-width: 0;
  font-size: $input-font-size;
  border: none;
  outline: none;
  background-color: transparent;
  color: $almost-black;

  padding: 0;
  border: solid transparent;
  border-width: $input-padding;

  &--with-label {
    border-width: ($input-padding * 2) $input-padding ($input-padding / 2) $input-padding;
  }

  &--transparent {
    color: transparent;
  }

  z-index: 1;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  // Prevent webkit autofill styling.
  // Ref: https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}

.s-input__format {
  position: absolute;
  display: block;
  color: $gray;
  white-space: nowrap;
  top: -$input-border-width;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: $input-font-size;

  // FIXME without label
  border: solid transparent;
  border-width: ($input-padding * 2) $input-padding ($input-padding / 2) $input-padding;

  overflow: hidden;
  text-overflow: ellipsis;
}

.s-input__value {
  color: transparent;
}

.s-input__error {
  position: absolute;
  bottom: -1.25rem;
  white-space: nowrap;
  font-size: .75rem;
  color: $color-bad;
}

.s-input__error-icon {
  // Decrease the space the icons uses on the left side,
  // so the input field is closer to the icon.
  // Looks better when typing/the text is longer than the input field.
  // Could probably just create an icon without space on the left side,
  // but haven't looked into it yet.
  margin-left: -.875rem;

  color: $color-bad;
  transition: transform $duration-normal;

  &--moveright {
    margin-right: -1.1rem;
  }

  &--movedown {
    transform: translateY(0.3rem);
  }
}

.s-text-area {
  align-items: baseline;
  height: initial;
}

.s-input__textarea {
  resize: none;
  box-sizing: content-box;

  border: solid transparent;
  border-width: $input-padding;

  height: 100%;
  width: 100%;

  &--with-label {
    border-width: ($input-padding * 2) $input-padding ($input-padding / 2) $input-padding;
  }

  // Scrollbar mess with auto-sizing. Simply hide it for now.
  &::-webkit-scrollbar {
    display: none;
  }
}
