@import '../tools.scss';

$inspector-header-margin: base-spacing(4);

.s-inspector {
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  bottom: 0;
  width: $inspector-width;
  background-color: $white;
}

.s-inspector-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.s-inspector-page__header {
  margin-bottom: $inspector-header-margin;
}

.s-inspector-page__main {
  overflow-y: auto;
  flex: 1;
}

.s-inspector-page__footer {
  margin-top: 1rem;
}