@import '../tools.scss';

$inspector-padding: 1.5rem;

.s-inspector {
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  bottom: 0;
  width: 360px;
  background-color: $white;
  padding: $inspector-padding;
}

.s-inspector__header {
  margin-bottom: 2rem;
}

.s-inspector__main {
  overflow-y: auto;
}

.s-inspector__footer {
  // position: sticky;
  margin-top: 1rem;
}