@import '../tools.scss';

.s-list {
  @include paragraph-font;

  list-style: none;
  margin: 0;
  padding: 0;
}

.s-list__item {
  cursor: default;
  padding: base-spacing();

  &:hover {
    background-color: $color-editish;
  }
}
