@import '../tools.scss';

$list-item-height: base-spacing(4);

.s-list {
  @include paragraph-font;
  list-style: none;
  margin: 0;
  padding: 0;

  // XXX Hard-coded
  max-height: 300px;
  overflow: auto;
}

.s-list-item {
  cursor: default;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: $list-item-height;
  padding: 0 base-spacing();

  // Invisible border, to prevent content moving on hover
  border: 1px solid rgba(0, 0, 0, 0);

  &:hover:not(.s-list-item--selected) {
    // hover color?
    background-color: $color-edit;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }

  &--selected {
    background-color: $color-editish;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }

  > .s-checkable {
    margin-right: $checkbox-spacing;
  }
}

.s-list-separator {
  display: flex;
  height: 1px;
  background-color: $almost-gray;
}

// Scroll bars always visible in the design
// but didnt want to mess with s-list so created a
// wrapper/container
.s-list__container {
  border: 1px $gray solid;
  border-radius: 4px;
  background-color: white;
  min-height: 10em;
  overflow-y: scroll;
}

.s-multiselector__row {
display: grid;
  grid-template-columns: 1fr 3rem 1fr;
  grid-column-gap: .5em;
  width: 100%;
  height: 100%;

}

.s-multiselector__button-container {
  justify-content: center;
}

.s-multiselector__title {
  @include paragraph-font;
  font-weight:$action-font-weight;
}

