
.s-menu {
  position: relative;
}

.s-menu__popup {
  position: fixed;
  z-index: 1000;
  text-align: initial;
  line-height: initial;
  overflow: hidden;

  background-color: $white;
  border: 1px solid $gray;
  border-radius: 3px;

  box-shadow: $popup-box-shadow;

  transition: height $duration-normal;
}

.s-menu__popup__content {
  display: flex;
  flex-direction: column;
  transition: opacity $duration-normal;

  // XXX Hard-coded
  min-width: 100px;
  max-height: 470px;
}

.s-menu-list {
  min-width: 8rem;
}
