
.s-menu {
  position: relative;
  display: inline-block;
}

.s-menu__popup {
  position: fixed;
  z-index: 1000;
  text-align: initial;
  line-height: initial;
  overflow: hidden;

  background-color: $white;
  border: 1px solid $gray;
  border-radius: 3px;

  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  transition: height $duration-normal;
}

.s-menu__popup__content {
  transition: opacity $duration-normal;

  // XXX Hard-coded
  min-width: 100px;
  max-width: 300px;
  max-height: 300px;

  overflow: auto;
}
