$radio-button-height: base-spacing(2);
$radio-button-spacing: base-spacing();
$radio-button-border-width: 1px;

.s-radio-button {
  @include paragraph-font;

  position: relative;
  display: inline-flex;
  height: $radio-button-height;
  line-height: $radio-button-height;

  &--focus,
  &:hover:not(.s-radio-button--inactive) {
    .s-radio-button__box {
      border-color: $color-edit;
    }
  }

  &--inactive {
    .s-radio-button__box {
      background-color: $almost-gray;
    }
  }

  // Hides the native radio-button, so that we can provide our own styled
  // version. We're using opacity rather than other methods for making
  // it invisible, because we want it to behave as if it's visible (e.g.
  // accept tab focus).
  > input {
    opacity: 0;
    position: absolute;
    margin: 0;
    left: 0;
    z-index: 100;
    width: $radio-button-height;
    height: $radio-button-height;
  }
}

.s-radio-button__box {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: $radio-button-border-width solid $gray;
  background-color: $white;
  min-height: $radio-button-height;
  max-height: $radio-button-height;
  min-width: $radio-button-height;
  max-width: $radio-button-height;
  border-radius: $radio-button-height / 2;
  margin-right: $radio-button-spacing;
}

.s-radio-button__selected {
  user-select: none;
  position: absolute;
  top: -$radio-button-border-width;
  left: -$radio-button-border-width;
  text-align: center;
}
