@import '../tools.scss';

$item-height: 32px;

.s-select__list {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

.s-select__list__item {

  > a {
    display: block;
    padding: 0 8px;
    height: $item-height;
    line-height: $item-height;

    text-decoration: none;
    color: $almost-black;
  }

  > a:hover,
  &--selected > a {
    background-color: $color-editish;
  }
}
