@import '../tools.scss';

$outer-border : 1px solid $gray;
$inner-border : 1px solid $almost-gray;
$th-inner-border : 1px solid $gray;

$table-padding: 1rem;
$table-condensed-padding: .5rem;

$table-normal-row-height: 2.5rem;
$table-condensed-row-height: 1.5rem;

$table-toggle-width: base-spacing(4);

.s-data-table {
  @include paragraph-font;

  position: relative;

  border-top: $outer-border;
  border-bottom: $outer-border;

  background-color: $almost-gray;

  margin-bottom: 8px;
  display: flex;
  flex-direction: column;

  // XXX Use when adjusting column width
  &--fixed {
    .s-data-table__table {
      width: 0;
    }
  }
}

.s-data-table__wrapper {
  overflow: auto;
}

.s-data-table__table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  min-width: 100%;

  tr:hover {
    td {
      background-color: $whiteish;
    }
  }

  th, td {
    white-space: nowrap;
    text-overflow: ellipsis;

    height: $table-normal-row-height;
    line-height: $table-normal-row-height;
    padding: 0;

    transition: opacity $duration-normal;
  }

  td {
    background-color: $white;
    overflow: hidden;
    z-index: 1;
  }

  th {
    @include action-font;

    text-align: left;
    background-color: $almost-gray;
    position: sticky;
    top: 0;
    cursor: default;
    z-index: 2;
  }

  .s-data-table__col {
    &--sticky {
      position: sticky;
      left: 0;
    }

    &--dragging {
      opacity: .5;
    }

    &--right {
      text-align: right;
    }

    &--center {
      text-align: center;
    }
  }

  th.s-data-table__col {
    &--sticky {
      z-index: 3;
      border-right: $th-inner-border;
    }
  }

  td.s-data-table__col {
    &--sticky {
      z-index: 1;
      border-right: $inner-border;
    }
  }
}

.s-data-table__cell-wrapper {
  display: flex;
  align-items: stretch;
}

.s-data-table__cell-content {
  height: $table-normal-row-height;
  flex: 1;
  padding: 0 $table-padding;
  border-bottom: $inner-border;
}

.s-data-table__table tr:last-child {
  .s-data-table__cell-content {
    border-bottom: none;
  }
}

.s-data-table__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $table-toggle-width;
  cursor: pointer;

  &--unknown {
    color: $gray;
  }

  .fas {
    transition: transform $duration-normal;
  }

  &--open {
    .fas {
      transform: rotate(180deg);
    }
  }

  &--loading {
    .fas {
      animation-name: spinning;
      animation-timing-function: linear;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.s-data-table__more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $table-toggle-width;
  height: $table-normal-row-height;

  &--open {
    svg path {
      fill: $color-edit;
    }
  }
}

.s-data-table--condensed {
  .s-data-table__table {
    th, td {
      height: $table-condensed-row-height;
      line-height: $table-condensed-row-height;
    }
  }

  .s-data-table__cell-content {
    height: $table-condensed-row-height;
  }

  .s-data-table__toggle {
    height: $table-condensed-row-height;
  }

  .s-data-table__more {
    height: $table-condensed-row-height;
  }
}

.s-data-table__outline {
  display: flex;
}

.s-icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.s-data-table__outline__section {
  text-align: center;
  width: base-spacing(3);
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    stroke: $gray;
    stroke-width: 1.5;
  }
}

.s-data-table__sort {
  display: inline-block;
  margin-left: base-spacing();
  transition: transform $duration-normal;

  transform: rotate(0);
  color: $color-edit;

  &--reverse {
    transform: rotate(180deg);
  }
}

.s-data-table__move-cursor {
  position: absolute;
  z-index: 5;
  top: 0;
  height: 100%;
  background-color: $color-edit;
  opacity: .5;

  transition: all .2s;
  transition-property: left, width;
}
