@import '../tools.scss';

$outer-border : 1px solid $gray;
$inner-border : 1px solid rgba(0, 0, 0, .05);
$th-inner-border : 1px solid $gray;

$table-padding: 1rem;
$table-condensed-padding: .5rem;

$table-normal-row-height: 2.5rem;
$table-condensed-row-height: 1.5rem;

$table-toggle-width: base-spacing(5);

$table-hover-color: $whiteish;
$table-highlight-color: $color-editish;
$table-highlight-hover-color: mix($color-editish, $whiteish, 25%);
$table-selection-outline-color: $color-edit;
$table-selection-outline-width: 1px;

.s-table {
  @include paragraph-font;
  cursor: default;

  position: relative;

  border-top: $outer-border;

  background-color: $almost-gray;

  display: flex;
  flex-direction: column;

  // Make the table scrollable, instead of the page
  min-height: 0;

  // XXX Use when adjusting column width
  &--fixed {
    .s-table__table {
      width: 0;
    }
  }

  &:not(.s-table--dragging) {
    .s-table__row {
      &:hover {
        td {
          color: rgba($almost-black, .8);
        }
      }
    }
  }
}

.s-table__wrapper {
  overflow: auto;
}

.s-table__table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  min-width: 100%;

  th, td {
    white-space: nowrap;
    text-overflow: ellipsis;

    height: $table-normal-row-height;
    line-height: $table-normal-row-height;
    padding: 0;

    transition: opacity $duration-normal;
  }

  td {
    background-color: $white;
    z-index: 0;
  }

  th {
    @include action-font;

    text-align: left;
    background-color: $almost-gray;
    position: sticky;
    top: 0;
    cursor: default;
    z-index: 2;
  }

  .s-table__col {
    &--sticky {
      position: sticky;
      left: 0;
    }

    &--dragging {
      opacity: .5;
    }

    &--right {
      text-align: right;
    }

    &--center {
      text-align: center;
    }
  }

  th.s-table__col {
    &--sticky {
      z-index: 3;
    }

    &:hover {
      .s-table__sortcolumn {
        &:not(.s-table__sortcolumn--active) {
          opacity: .1;
        }
      }
    }
  }

  td.s-table__col {
    &--sticky {
      z-index: 1;
    }
  }

  .s-table__col--sticky {
    .s-table__cell-content {
      border-right: $inner-border;
    }
  }
}

.s-table__row {
  td {
    position: relative;
  }

  &--checked {
    td {
      background-color: $table-highlight-color;
    }
  }

  //  Add 1px padding to the top row, for selection outline
  &:first-child td {
    padding-top: 1px;
  }

  &--first-checked {
    td::before {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      right: 0;
      content: '';
      height: $table-selection-outline-width;
      background-color: $table-selection-outline-color;
    }

    // Move border 1px up, to merge with row separator
    &:not(:first-child) {
      td::before {
        top: -1px;
      }
    }
  }

  &--last-checked {
    td::after {
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      height: $table-selection-outline-width;
      background-color: $table-selection-outline-color;
    }

    &:last-child {
      td::after {
        bottom: -1px;
      }
    }
  }
}

.s-table__cell-wrapper {
  display: flex;
  align-items: stretch;
}

.s-table__cell-content {
  height: $table-normal-row-height;
  flex: 1;
  padding: 0 $table-padding;
  border-bottom: $inner-border;
}

.s-table__table {
  thead tr {
    padding-bottom: 5px;
  }
}

.s-table__table tr:last-child {
  .s-table__cell-content {
    border-bottom: none;
  }

  td {
    border-bottom: $outer-border;
  }
}

.s-table__checkable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $table-toggle-width;
}

.s-table__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $table-toggle-width;
  cursor: pointer;

  &--unknown {
    color: $gray;
  }

  .s-icon {
    transition: transform $duration-normal;
    transform: rotate(180deg);
  }

  &--open {
    .s-icon {
      transform: rotate(0);
    }
  }
}

.s-table__icon {
  text-align: center;
  width: base-spacing(3);
}

.s-table__outline__section + .s-table__icon {
  margin-left: -24px;
}

.s-table-options-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $table-toggle-width;
  height: $table-normal-row-height;

  &:focus,
  &--open {
    a {
      color: $color-edit;
    }
  }

  a {
    outline: none;
  }
}

.s-table--condensed {
  .s-table__table {
    th, td {
      height: $table-condensed-row-height;
      line-height: $table-condensed-row-height;
    }
  }

  .s-table__cell-content {
    height: $table-condensed-row-height;
  }

  .s-table__toggle {
    height: $table-condensed-row-height;
  }

  .s-table-options-menu {
    height: $table-condensed-row-height;
  }

  .s-icon {
    font-size: 1.2em;
  }
}

.s-table__outline {
  display: flex;
}

// TODO: Scope or move to icons.scss
.s-icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-size: 1.4em;
}

.s-table__outline__section {
  width: base-spacing(3);
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    stroke: $gray;
    stroke-width: 1.5;
  }
}

.s-table__cell-placeholder {
  display: inline-block;
  border-radius: 3px;
  height: .5rem;
  background-color: $almost-gray;
}

.s-table__sortcolumn {
  opacity: 0;

  &--active {
    opacity: 1;
    color: $color-edit;
  }

  .s-icon {
    transition: transform $duration-normal;
    transform: rotate(180deg);
  }

  &--reverse {
    .s-icon {
      transform: rotate(0);
    }
  }
}

.s-table__move-cursor {
  position: absolute;
  z-index: 5;
  top: 0;
  height: 100%;
  background-color: $color-edit;
  opacity: .5;

  transition: all .2s;
  transition-property: left, width;
}

.s-table-no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.5rem;

  pointer-events: none;
  user-select: none;

  white-space: nowrap;
  background-color: $whiteish;
  color: $grayest;
}

.s-table-no-results__search {
  position: relative;
  top: 16px;
  left: 10px;
  font-size: 48px;
  color: $grayer;
}

.s-table-no-results__circle {
  width: 88px;
  height: 88px;
  background-color: $almost-gray;
  border-radius: 50%;
}

.s-table-no-results__header {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;

  font-size: $h1-font-size;
  color: $grayer;
}
