@import '@/style/tools.scss';

$outer-border : 1px solid $gray;
$inner-border : 1px solid $almost-gray;
$th-inner-border : 1px solid $gray;

$table-padding: 1rem;
$table-condensed-padding: .5rem;

$table-normal-row-height: 2.5rem;
$table-condensed-row-height: 1.5rem;

.ui-data-table {
  @include paragraph-font;

  position: relative;

  border-top: $outer-border;
  border-bottom: $outer-border;

  background-color: $almost-gray;

  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.ui-data-table__wrapper {
  overflow: auto;
}

.ui-data-table__table {
  border-collapse: separate;
  border-spacing: 0;

  // XXX Use when adjusting column width
  table-layout: fixed;

  th, td {
    white-space: nowrap;
    height: $table-normal-row-height;
    line-height: $table-normal-row-height;

    transition: opacity $duration-normal;
  }

  td {
    background-color: $white;
    padding: 0 $table-padding;
    z-index: 1;
  }

  th {
    background-color: $almost-gray;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .ui-data-table__col {
    &--sticky {
      position: sticky;
      left: 0;
    }

    &--dragging {
      opacity: .5;
    }
  }

  th.ui-data-table__col {
    &--sticky {
      z-index: 3;
      border-right: $th-inner-border;
    }
  }

  td.ui-data-table__col {
    &--sticky {
      z-index: 1;
      border-right: $inner-border;
    }
  }
}

.ui-data-table--condensed .ui-data-table__table {
  th, td {
    height: $table-condensed-row-height;
    line-height: $table-condensed-row-height;
    overflow-y: hidden;
  }

  td,
  .ui-data-table__header {
    padding: 0 $table-condensed-padding;
  }
}

.ui-data-table__header {
  @include action-font;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 $table-padding;

  cursor: pointer;
}

.ui-data-table__header__sort {
  transition: transform $duration-normal;
}

.ui-data-table__move-cursor {
  position: absolute;
  z-index: 5;
  top: 0;
  height: 100%;
  background-color: $color-edit;
  opacity: .5;

  transition: all .2s;
  transition-property: left, width;
}
