@import '../settings.scss';

$tabs-height: 2.5rem;
$tabs-line-height: $tabs-height - 0.5rem;
$tabs-margin-bottom: 1.5rem;
$tabs-border-width: 2px;
$tabs-link-color: $grayer;
$tabs-link-inactive-color: $almost-black;


.ui-tabs {
  position: relative;
  margin-bottom: $tabs-margin-bottom;
  white-space: nowrap;
}

.ui-tabs--border {
  width: inherit;
  height: $tabs-border-width;
  background-color: $almost-gray;
}

.ui-tabs--highlight {
  position: absolute;
  height: $tabs-border-width;
  bottom: 0;
  background-color: $smartdok-yellow;

  transition: $duration-normal;
}

.ui-tab--link {
  display: inline-block;
  height: $tabs-height;
  line-height: $tabs-line-height;

  text-decoration: none;
  color: $tabs-link-color;

  &.router-link-exact-active {
    color: $tabs-link-inactive-color;
  }

  &:hover {
    color: $tabs-link-inactive-color;
  }

  &:not(:first-child) {
    margin-left: 1.5rem;
  }
}