
// SmartDok brand color
$smartdok-yellow: #ffdc59;
$smartdok-light-yellow: #ffe67f;

// Grays
$almost-black: #1c1c1c;
$grayest: #4a4a4a;
$grayer: #787878;
$gray: #cfcfcf;
$almost-gray: #efefef;
$whiteish: #f8f8f8;
$white: #fff;

// Secondary colors
$color-good: #78b55c;
$color-goodish: #b7d6a9;
$color-bad: #e94e1b;
$color-badish: #f0a289;
$color-oops: #febb43;
$color-oopsish: #fad99d;
$color-edit: #3eb0ff;
$color-editish: #9ad3fb;

// Typography
$base-font-size: 16px;

// Buttons
$btn-height: 2.5rem;
$btn-main-bg-color: $smartdok-yellow;
$btn-main-fg-color: $almost-black;
$btn-secondary-bg-color: $whiteish;
$btn-secondary-fg-color: $almost-black;
$btn-secondary-border-color: $gray;

// Inputs
$input-bg-color: $white;
$input-fg-color: $almost-black;
$input-border-color: $gray;
$input-padding: 8px;