
// SmartDok brand color
$smartdok-yellow: #ffdc59;
$smartdok-light-yellow: #ffe67f;

// Grays
$almost-black: #1c1c1c;
$grayest: #4a4a4a;
$grayer: #787878;
$gray: #cfcfcf;
$almost-gray: #efefef;
$whiteish: #f8f8f8;
$white: #fff;

// Secondary colors
$color-good: #78b55c;
$color-goodish: #b7d6a9;
$color-bad: #e94e1b;
$color-badish: #f0a289;
$color-oops: #febb43;
$color-oopsish: #fad99d;
$color-edit: #3eb0ff;
$color-editish: #9ad3fb;

// Layout
$base-spacing-unit: .5rem;

// Typography
$base-font-family: 'Avenir', 'Nunito Sans', sans-serif;
$base-font-size: 16px;
$font-weight-medium: 600;  // 500 is not available for Nunito
$font-weight-regular: 400;

$h1-font-size: 2rem;
$h1-font-weight: $font-weight-medium;
$h2-font-size: 1rem;
$h2-font-weight: $font-weight-medium;
$h3-font-size: .75rem;
$h3-font-weight: $font-weight-medium;

$action-font-size: .875rem;
$action-font-weight: $font-weight-medium;
$paragraph-font-size: .875rem;
$paragraph-font-weight: $font-weight-regular;

// Transition
$duration-normal: .3s;
