@import './settings.scss';

@mixin action-font {
  font-size: $action-font-size;
  font-weight: $action-font-weight;
}

@mixin paragraph-font {
  font-size: $paragraph-font-size;
  font-weight: $paragraph-font-weight;
}
