
.sunshine24-arrow:before { content: '\e800'; } /* '' */
.sunshine24-bad:before { content: '\e801'; } /* '' */
.sunshine24-close:before { content: '\e802'; } /* '' */
.sunshine24-dialog:before { content: '\e803'; } /* '' */
.sunshine24-good:before { content: '\e804'; } /* '' */
.sunshine24-dropdownarrow:before { content: '\e805'; } /* '' */
.sunshine24-more:before { content: '\e806'; } /* '' */
.sunshine24-navigateback:before { content: '\e807'; } /* '' */
.sunshine24-newmessage:before { content: '\e808'; } /* '' */
.sunshine24-newmessagebg:before { content: '\e809'; } /* '' */
.sunshine24-sortcolumn:before { content: '\e80c'; } /* '' */
.sunshine24-readmessage:before { content: '\e80f'; } /* '' */
.sunshine24-readmessagebg:before { content: '\e810'; } /* '' */
.sunshine24-warning:before { content: '\e817'; } /* '' */
.sunshine24-export:before { content: '\e822'; } /* '' */
.sunshine24-columns:before { content: '\e823'; } /* '' */
.sunshine24-double-arrow:before { content: '\e824'; } /* '' */
.sunshine24-datepicker:before { content: '\e82b'; } /* '' */
.sunshine24-hide-inspector:before { content: '\e82c'; } /* '' */
.sunshine24-show-inspector:before { content: '\e82d'; } /* '' */
.sunshine24-datepicker-solid:before { content: '\e82e'; } /* '' */
.sunshine24-saved-setups:before { content: '\e82f'; } /* '' */
.sunshine24-saved-setups-solid:before { content: '\e830'; } /* '' */
.sunshine24-table-cell-more:before { content: '\e831'; } /* '' */