@font-face {
  font-family: 'sunshine24';
  src: url('../font/sunshine24.eot?63766335');
  src: url('../font/sunshine24.eot?63766335#iefix') format('embedded-opentype'),
       url('../font/sunshine24.woff2?63766335') format('woff2'),
       url('../font/sunshine24.woff?63766335') format('woff'),
       url('../font/sunshine24.ttf?63766335') format('truetype'),
       url('../font/sunshine24.svg?63766335#sunshine24') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sunshine24';
    src: url('../font/sunshine24.svg?63766335#sunshine24') format('svg');
  }
}
*/
 
 [class^="sunshine24-"]:before, [class*=" sunshine24-"]:before {
  font-family: "sunshine24";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.sunshine24-arrow:before { content: '\e800'; } /* '' */
.sunshine24-bad:before { content: '\e801'; } /* '' */
.sunshine24-close:before { content: '\e802'; } /* '' */
.sunshine24-dialog:before { content: '\e803'; } /* '' */
.sunshine24-good:before { content: '\e804'; } /* '' */
.sunshine24-dropdownarrow:before { content: '\e805'; } /* '' */
.sunshine24-more:before { content: '\e806'; } /* '' */
.sunshine24-navigateback:before { content: '\e807'; } /* '' */
.sunshine24-newmessage:before { content: '\e808'; } /* '' */
.sunshine24-newmessagebg:before { content: '\e809'; } /* '' */
.sunshine24-sortcolumn:before { content: '\e80c'; } /* '' */
.sunshine24-readmessage:before { content: '\e80f'; } /* '' */
.sunshine24-readmessagebg:before { content: '\e810'; } /* '' */
.sunshine24-triangle:before { content: '\e817'; } /* '' */
.sunshine24-export:before { content: '\e822'; } /* '' */
.sunshine24-columns:before { content: '\e823'; } /* '' */
.sunshine24-double-arrow:before { content: '\e824'; } /* '' */
.sunshine24-datepicker:before { content: '\e82b'; } /* '' */
.sunshine24-hide-inspector:before { content: '\e82c'; } /* '' */
.sunshine24-show-inspector:before { content: '\e82d'; } /* '' */
.sunshine24-datepicker-solid:before { content: '\e82e'; } /* '' */
.sunshine24-saved-setups:before { content: '\e82f'; } /* '' */
.sunshine24-saved-setups-solid:before { content: '\e830'; } /* '' */
.sunshine24-table-cell-more:before { content: '\e831'; } /* '' */